h3, h1{
    text-align: center;
}
.form{
    padding: 2em;
    text-align: center;
    font-size: large;
}
input[type=radio] {
    position: relative;
    top: 0.5em;
    height: 2em;
    width: 2em;

}
input[type=submit] {
    height: 3em;
}